@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Interphases Pro Trial Bold";
  src: local("TT Interphases Pro Trial Bold"),
    url("../../public/assets/fonts/TT\ Interphases\ Pro\ Trial\ Bold.ttf")
      format("trueType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Interphases Pro Trial Regular";
  src: local("TT Interphases Pro Trial Regular"),
    url("../../public/assets/fonts/TT\ Interphases\ Pro\ Trial\ Regular.ttf")
      format("trueType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "whatever it takes bold";
  src: local("whatever it takes bold"),
    url("../../public/assets/fonts/whatever\ it\ takes\ bold.ttf")
      format("trueType");
  font-weight: normal;
  font-style: normal;
}

/* typography */
.header-txt {
  @apply font-interphasesRegular text-[20px] lg:text-[23px];
}

.footer-txt {
  @apply font-interphasesRegular text-[20px] lg:text-[24px];
}

.banner-title {
  @apply font-interphasesBold text-[36px] lg:text-[64px] lg:leading-[70px] leading-[40px];
}

.bdy-title {
  @apply font-interphasesBold text-[35px] lg:text-[55px] lg:leading-[50px] leading-[40px];
}

.bdy-txt {
  @apply font-interphasesRegular text-[18px] lg:text-[27px] text-[#A5A5A5] lg:leading-[32px] leading-[25px];
}

.bdy-txt-special {
  @apply font-witBold text-[30px] lg:text-[54px] leading-[35px];
}

.bdy-txt-sm {
  @apply font-interphasesRegular text-[16px];
}

.bdy-txt-name {
  @apply font-interphasesBold lg:text-[40px] text-[25px] leading-[40px];
}

.service-title {
  @apply font-interphasesBold lg:text-[35px] lg:leading-[40px] text-[30px] leading-[30px];
}

.testimonial-title {
  @apply font-interphasesBold lg:text-[34px] lg:leading-[40px] text-[27px] leading-[27px] whitespace-nowrap;
}

.program-title {
  @apply font-interphasesBold text-[30px];
}

.bdy-txt-6 {
  @apply font-interphasesRegular text-[12px] leading-[18px] text-[#585858] lg:text-[15px] lg:leading-[21px];
}

.custom-input::placeholder {
  @apply bdy-txt-6 text-[17px] text-[#9E9E9E];
}

.custom-input {
  font-size: 80% !important;
}

.btn-primary {
  @apply font-interphasesBold rounded-[6px] h-[4rem] flex items-center justify-center px-[25px] text-white text-[20px] lg:text-[28px] tracking-[3px] leading-[22px] p-[35px] leading-[35px];
}

/* cards style */
.blue-card {
  height: 315px;
  margin: 20px auto;
  background: white;
  box-shadow: 0 11px 11px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  background-image: url("/assets/images/who-blue.png");
  background-repeat: no-repeat;
  background-size: 126% 330%;
  background-position: 60% -155px;
}

.orange-card {
  height: 321px;
  margin: 20px auto;
  background: white;
  box-shadow: 0 11px 11px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  background-image: url("/assets/images/who-orange.png");
  background-repeat: no-repeat;
  background-size: 126% 320%;
  background-position: 63% -555px;
}

.rtl-direc {
  direction: rtl;
}

.card-content {
  grid-template-columns: 4fr 1fr;
  padding: 20px;
  align-items: center;
  padding: 2rem;
}

.text-content {
  padding: 20px;
  z-index: 2;
}

.image-content {
  text-align: center;
  z-index: 2;
}

.image-content img {
  border-radius: 5px;
}

/* swiper style */
.swiper-pagination {
  position: relative !important;
  text-align: justify !important;
  width: auto !important;
}
.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  margin: 0 8px;
  opacity: 1 !important;
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}

/* custom style */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.triangle {
  @apply w-0 h-0 border-l-transparent border-r-transparent absolute top-0;
}

@media only screen and (device-width: 430px) and (device-height: 932px) {
  .banner-mobile-image {
    width: 500px;
  }
  .header-logo {
    padding-left: 25px;
  }
  .menu {
    margin-left: 20px;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(50px) scale(0.9) rotateX(10deg);
  filter: blur(10px);
  transition: opacity 0.8s ease-out,
    transform 0.8s cubic-bezier(0.2, 0.8, 0.2, 1), filter 0.8s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0) scale(1) rotateX(0);
  filter: blur(0);
}
