/* underline */
u {
  color: #6688bd !important;
  text-decoration: none !important;
}

/* italic */
em {
  color: #f4975d !important;
  text-decoration: none !important;
  font-style: normal !important;
}

/* bold */
strong {
  color: #9fc0e0 !important;
  font-weight: unset !important;
}

/* Strikethrough */
del {
  color: #f6b249 !important;
  text-decoration: none !important;
}
